@model IEnumerable<WebShop.Models.PRODUCTS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AMOUNTS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTIVE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE_CREATION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE_MODIFI)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRICE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AMOUNTS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTIVE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE_CREATION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE_MODIFI)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_PRODUCT }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_PRODUCT }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_PRODUCT })
        </td>
    </tr>
}

</table>
